body, html {
  height: 100%;
  font-family: monospace;
}

header {
  display: flex;
  justify-content: space-between;
}

.nav-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  padding: 5px 10px;
}

.hero-banner {
  background-image: url("../images/hero-banner.jpeg");
  background-repeat: no-repeat;
  height: 50%;
  background-position: center;
  background-size: cover;
  
}

.hero-text {
  text-align: center;
  color: white;
  position:relative;
  top: 50%
}