body, html {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: 100%;
  font-family: monospace;
  margin-top: 0; /* Otherwise there is an automatic margin between the top of the window and the navbar */
}

/* ---Nav Bar--- */
header {
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
}

.nav-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

header > h1 {
  background-color: aliceblue;
  color: skyblue;
  padding-left: 40px;
  padding-top: 40px;
  margin-top: -0.67em;
}

header > nav > a {
  padding: 1em 2em;
  color: aliceblue;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

/* ---Hero Banner--- */
.hero-banner {
  margin-top: 0px;
  background-image: url("../images/hero-banner.jpeg");
  background-repeat: no-repeat;
  height: 50%;
  background-position: center;
  background-size: cover;
}

.hero-text {
  text-align: center;
  color: white;
  position:relative;
  top: 50%
}

.hero-text {
  position: absolute;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: aliceblue; 
  background: aliceblue 0.5; 
  color: skyblue;
}

/* ---Page Wrapper--- */
.page-section {
  display: grid;
}
/* --About Me-- */
.section-title {
  display: flex;
  justify-content: end;
  padding-right: 4em;
}

#about {
  display: grid;
  grid-template-columns: 25% 75%;
}

/* --Portfolio-- */
#work {
  display: grid;
  grid-template-columns: 25% 75%;
}

.bootstrap-portfolio {
  display: grid;
  grid-area: bootstrap;

}

/* --Contact-- */
#contact {
  display: grid;
  grid-template-columns: 25% 75%;
}
/* Check if the links at the top link with the bottom!*/